div.recent-trackings
  h2 Recent Trackings

  div.recent-trackings-list
    for tracking in trackings
      div.tracking(onclick="window.location='/trackings/show/" + tracking.id + "'")
        if tracking.player
          div.tracking-player= tracking.player
        if tracking.team
          div.tracking-team= tracking.team
        if tracking.author
          div.tracking-author= tracking.author
        if tracking.mode
          div.tracking-mode= tracking.mode
