:root {
  font-family: BlinkMacSystemFont, -apple-system,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 18px;
}

input,
button {
  font-family: inherit;
}

button,
input[type="submit"] {
  padding: 0.7em 1em;
  border-radius: 5px;
  background: hsl(0, 0%, 90%);
  border: 1px solid grey;
}

button:hover,
input[type="submit"]:hover {
  background: hsl(0, 0%, 93%);
}

input[type="text"],
input[type="password"] {
  padding: 0.4em;
  border-radius: 5px;
  border: 1px solid grey;
}

body {
  display: grid;
  grid-template-columns: minmax(300px, 30%) 1fr;
  overflow-x: hidden;
}

body > .col:first-of-type {
  grid-column: 1 / 2;

  background-image:
    url('/images/otis-redding.png'),
    linear-gradient(
      to right,
      hsl(0, 85%, 50%) 0%,
      hsl(0, 70%, 45%) 80%
    );

  border-right: 2px solid hsl(0, 70%, 30%);
  background-color: hsl(0, 70%, 45%);
  color: hsl(0, 0%, 95%);
}

body > .col:first-child h1,
body > .col:first-child h2 {
  padding: 0 1rem;
}

body > .col:nth-child(2) {
  grid-column: 2 / 3;
  padding: 1rem;
}

header {
  padding-top: 5px;
  margin-top: 10px:
}

nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

nav a {
  display: block;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

nav a:not(:last-of-type) {
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    hsla(0, 100%, 60%, 0) 5%,
    hsla(0, 100%, 60%, 0.2) 15%,
    hsla(0, 100%, 60%, 1) 60%,
    hsla(0, 100%, 60%, 1) 70%,
    hsla(0, 100%, 60%, 0.2) 85%,
    hsla(0, 100%, 60%, 0) 95%
  );
  border-image-slice: 1;
}

nav a:hover {
  background: hsla(0, 100%, 60%, 0.4);
}

h1,
h2 {
  font-weight: normal;
}

h2 {
  margin: 0.5em 0 0.2em;
}

.recent-trackings h2 {
  margin: 0.8em 0 0.5em;
  text-align: center;
}

.recent-trackings-list {
  padding: 0 1rem;
}

.tracking {
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 0.6em 1em;
  margin-bottom: 0.5em;
}

.tracking:hover {
  background: hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
}

.tracking-player::before {
  content: 'Player: ';
}

.tracking-team::before {
  content: 'Team: ';
}

.tracking-author::before {
  content: 'Author: ';
}

.tracking-mode::before {
  content: 'Mode: ';
}

.tracking-info {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.tracking-info p {
  margin: 0.2em 0;
}

.tweet-list {
  padding-top: 1em;
  margin: 0 auto;
}

.stats .chart canvas {
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 500px;
}

.searchform {
  text-align: center;
}

.searchForm table {
  border-collapse: collapse;
  border: none;
}

.searchForm table td {
  padding: 0.2em 0.5em;
}

.searchForm table td:first-child {
  text-align: right;
}

.stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.stats .table,
.stats .chart {
  flex: 1 0 200px;
  text-align: center;
}

.stats .table table {
  border-collapse: collapse;
  margin: 0 auto;
}

.stats .chart canvas {
  margin: 0 auto;
}


.stats .table table td {
  padding: 0.5em;
  border: 1px solid black;
}

.stats .table table tr:last-child td {
  font-weight: bold;
}

.stats .table table tr:nth-child(2n) td {
  background: hsl(0, 0%, 95%);
}

.paging {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 1em 0;
  border-bottom: 1px solid black;
}

.page-size {
  flex-grow: 1;
  text-align: center;
  font-size: 1.2em;
  padding: 0 1em;
}

.page-size label {
  padding-right: 1ch;
}

.page-size input {
  margin-top: 0.5em;
  width: 100%;
  max-width: 300px;
}

.tweet {
  border-radius: 8px;
  display: grid;
  grid-template-columns: minmax(50px, auto) 1fr;
  grid-template-rows: repeat(5, fit-content);
  grid-template-areas: "avatar name"
                       "avatar username"
                       "content content"
                       "time time"
                       "id id";
  padding: 0.5em;
  margin-bottom: 8px;
  border: 2px solid;
}

.tweet-avatar,
.tweet-name,
.tweet-id,
.tweet-time,
.tweet-author,
.tweet-body {
  margin: 0;
  padding: 0.5em;
}

.tweet-avatar {
  grid-area: avatar;
}

.tweet-avatar img {
  width: auto;
  max-height: 50px;
  border-radius: 5px;
}

.tweet-name {
  grid-area: name;
  padding-bottom: 0;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 500;
}

.tweet-id {
  grid-area: id;
  color: #444;
  font-size: 0.9em;
}

.tweet-id::before {
  content: 'ID: '
}

.tweet-time {
  grid-area: time;
  padding-top: 0;
  color: #444;
  font-size: 0.9em;
}

.tweet-author {
  grid-area: username;
  padding-top: 0;
}

.tweet-author a::before {
  content: '@'
}

.tweet-body {
  grid-area: content;
}

.tweet.tweet-cache {
  border-color: hsl(220, 50%, 70%);
}

.tweet.tweet-remote {
  border-color: hsl(250, 50%, 70%);
}

.tweet.tweet-stream {
  border-color: hsl(280, 50%, 70%);
}

.button {
  padding: 0.8em 1em;
  background: hsl(0, 85%, 50%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background: hsl(0, 70%, 45%);
}

.remote-tweets-button {
  padding: 0.5em 1em;
  margin-top: 1em;
  border: 2px solid hsl(0, 85%, 50%);
  color: hsl(0, 85%, 50%);
  border-radius: 8px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 100ms ease, color 100ms ease;
}

.remote-tweets-button:hover {
  background: hsl(0, 85%, 50%);
  color: white;
}

.player-profiles {
  display: none;
}

.player-profiles {
  border-bottom: 1px solid black;
}

.tracking-info .tracking-player::before,
.tracking-info .tracking-team::before,
.tracking-info .tracking-author::before,
.tracking-info .tracking-mode::before,
.player-info-name::before,
.player-info-club::before,
.player-info-pos::before,
.player-info-dob::before {
  color: hsl(0, 0%, 30%);
}

.player-info-name::before {
  content: 'Name: '
}
.player-info-club::before {
  content: 'Club: '
}
.player-info-pos::before {
  content: 'Position: '
}
.player-info-dob::before {
  content: 'Date of Birth: '
}

.player-info {
  padding: 0.5em 0;
}

.player-info::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.player-info p {
  margin: 0.3em 0;
}

.player-info img {
  float: right;
  height: 120px;
  width: auto;
  border-radius: 10px;
}
