extends layout

block main

  if tweets
    p= 'Number of tweets: ' + tweets.length

  div.tweetList
    if tweets
      for tweet in tweets
        div.tweet
          p= tweet.datetime
          p= tweet.author
          p= tweet.content
