html
  head
    block styles
      link(rel="stylesheet" href="/style/normalize.css")
      link(rel="stylesheet" href="/style/style.css")

    block scripts
      script(src="/socket.io/socket.io.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js")
      script(src="/scripts/socketclient.js")

  body
    div.col
      include header

      if trackings
        block trackings
          hr
          include recent-trackings

    div.col
      block main
