div.trackings
  h2 Trackings

  div.trackings-list
    if trackings
      for tracking in trackings
        div.tracking
          div.tracking-player
          div.tracking-team
          div.tracking-author
