extends ../layout

block main
  p Search: (use commas to separate terms)
  form#searchForm.searchForm(method='get' action='/trackings/new/submit')
    table
      tr
        td: label(for='player') Player:
        td: input(type='text' id='player' name='player' placeholder='Player..' value=player)

      tr
        td: label(for='team') Team:
        td: input(type='text' id='team' name='team' placeholder='Team...' value=team)

      tr
        td: label(for='author') Author:
        td: input(type='text' id='author' name='author' placeholder='Tweet Author...' value=author)

      // TODO change appearance to labelled sliding button
      tr
        td: label(for='querymode') Query Mode (Enabled = AND, Disabled = OR)
        td: input(type='checkbox' id='querymode' name='querymode')

      tr
        td &nbsp;
        td: input#submitSearchForm(type='submit')
