extends ../layout

block main
  h2 Tracking Info
  div.tracking-info
    p.tracking-player
    p.tracking-team
    p.tracking-author
    p.tracking-mode

  div.playerProfiles

  h2 Stats
  div.stats
    div.chart
      canvas(width="600" height="400")
    div.table

  hr


  div.paging
    div.page-nav.js-page-nav
      a.prev-page.js-prev-page(href="#") &larr; Prev Page

    div.page-size
      div
        label(for="js-page-size") Tweets per page:
        span.js-page-size-indicator N/A
      div
        input(type="range" min="10" max="200" step="10", value="50")#js-page-size.js-page-size

    div.page-nav.js-page-nav
      a.next-page.js-next-page(href="#") Next Page &rarr;

  hr

  div.remote-tweets-button
    p Get New Tweets

  div.tweet-list
